name: Bump-n-Release

# NOTE: The change log is only updated in the remote upon release (in `bump-release` job)

on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"
  workflow_dispatch:
    inputs:
      component:
        description: The version component to increase
        type: choice
        required: true
        default: patch
        options:
          - major
          - minor
          - patch

permissions: {}

jobs:
  bump-release:
    if: github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-latest
    # permissions required by BUMP_N_RELEASE token:
    #   # for creating a GitHub release and pushing metadata changes
    #   contents: write
    #   # for generating CHANGELOG entries using PR history
    #   pull-requests: read
    steps:
      - uses: actions/checkout@v5
        with:
          token: ${{ secrets.BUMP_N_RELEASE }}
          fetch-depth: 0
          fetch-tags: true
          persist-credentials: true # need for `git push`

      - uses: cargo-bins/cargo-binstall@ae04fb5e853ae6cd3ad7de4a1d554a8b646d12aa # v1.15.11
      - run: cargo binstall -y git-cliff nu@${NUSHELL_VERSION}
        env:
          GITHUB_TOKEN: ${{ github.token }}
          NUSHELL_VERSION: ${{ vars.NUSHELL_VERSION }}
      - name: Install cargo-edit
        run: >-
          cargo install
          --locked
          --no-default-features
          --features set-version
          cargo-edit

      - name: Bump ${{ inputs.component }} version
        env:
          GITHUB_TOKEN: ${{ secrets.BUMP_N_RELEASE }}
        run: nu .github/workflows/bump-n-release.nu ${{ inputs.component }}

  update-changelog:
    if: github.event_name != 'workflow_dispatch'
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: read
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          fetch-tags: true
          persist-credentials: false
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.x'
      - name: setup uv
        uses: astral-sh/setup-uv@v7
      - name: Generate a changelog
        env:
          GITHUB_REPO: ${{ github.repository }}
        run: >-
         uvx --constraints .github/requirements.txt
         git-cliff
         --unreleased
         --config .config/cliff.toml
         --output "$GITHUB_STEP_SUMMARY"
