name: Rust

on:
  push:
    branches: [main]
    paths:
      - '**/*.rs'
      - Cargo.toml
      - .github/workflows/rust.yml
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'
  pull_request:
    branches: [main]
    paths:
      - '**/*.rs'
      - Cargo.toml
      - .github/workflows/rust.yml

env:
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: 1

permissions: {}

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false
      - name: Setup Rust
        run: rustup update --no-self-update
      - name: Install cargo-binstall
        uses: cargo-bins/cargo-binstall@ae04fb5e853ae6cd3ad7de4a1d554a8b646d12aa # v1.15.11
      - name: Install cargo-llvm-cov, cargo-nextest, and nur
        env:
          GITHUB_TOKEN: ${{ github.token }}
          NUR_VERSION: ${{ vars.NUR_VERSION }}
        run: cargo binstall -y cargo-nextest cargo-llvm-cov nur@${NUR_VERSION}
      - name: Cache deps
        uses: actions/cache@v4 # zizmor: ignore[cache-poisoning]
        with:
          path: ~/.cargo
          key: cargo-lib-${{ hashFiles('src/**', 'Cargo.toml', 'Cargo.lock') }}
      - run: rustup component add llvm-tools-preview
        # this enables a tool (for default toolchain) needed to measure code coverage.
      - name: Run tests
        run: nur test --profile ci
      - name: Generate coverage reports
        run: nur test lcov
      - uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5.5.1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: lcov.info
          fail_ci_if_error: true

  build:
    runs-on: ${{ matrix.os }}
    name: build ${{ matrix.target }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - target: aarch64-unknown-linux-gnu
            os: ubuntu-latest
            vendored-tls: true
            cross: true
          - target: aarch64-unknown-linux-musl
            os: ubuntu-latest
            vendored-tls: true
            cross: true
          - target: x86_64-unknown-linux-gnu
            os: ubuntu-latest
            vendored-tls: true
            cross: true
          - target: x86_64-unknown-linux-musl
            os: ubuntu-latest
            vendored-tls: true
            cross: true
          - target: arm-unknown-linux-gnueabi
            os: ubuntu-latest
            vendored-tls: true
            cross: true
          - target: arm-unknown-linux-gnueabihf
            os: ubuntu-latest
            vendored-tls: true
            cross: true
          - target: armv7-unknown-linux-gnueabihf
            os: ubuntu-latest
            vendored-tls: true
            cross: true
          - target: powerpc-unknown-linux-gnu
            os: ubuntu-latest
            vendored-tls: true
            cross: true
          - target: powerpc64-unknown-linux-gnu
            os: ubuntu-latest
            vendored-tls: true
            cross: true
          - target: powerpc64le-unknown-linux-gnu
            os: ubuntu-latest
            vendored-tls: true
            cross: true
          - target: s390x-unknown-linux-gnu
            os: ubuntu-latest
            vendored-tls: true
            cross: true
          - target: aarch64-apple-darwin
            os: macos-latest
            vendored-tls: true
            cross: false
          - target: x86_64-apple-darwin
            os: macos-latest
            vendored-tls: true
            cross: false
          - target: x86_64-pc-windows-msvc
            os: windows-latest
            vendored-tls: false
            cross: false
          - target: aarch64-pc-windows-msvc
            os: windows-latest
            vendored-tls: false
            cross: false
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          persist-credentials: false

      - name: Setup Rust
        run: |-
          rustup update
          rustup target add ${{ matrix.target }}

      - name: Install cargo-binstall
        if: matrix.cross
        uses: cargo-bins/cargo-binstall@ae04fb5e853ae6cd3ad7de4a1d554a8b646d12aa # v1.15.11
      - name: Install cross (cargo cross compiler)
        if: matrix.cross
        env:
          GITHUB_TOKEN: ${{ github.token }}
        run: cargo binstall -y cross

      - name: Build
        run: >-
          ${{ matrix.cross && 'cross' || 'cargo '}}
          build
          --bin report-size-deltas
          --release
          --target ${{ matrix.target }}
          --features bin${{ matrix.vendored-tls && ',native-tls-vendored' || ''}}

      - name: Prepare artifacts (unix)
        if: runner.os != 'Windows'
        shell: bash
        run: |-
          tgt="report-size-deltas"
          mv "target/${{ matrix.target }}/release/${tgt}" "${tgt}"
          arc_name="report-size-deltas-${{ matrix.target }}.tar.gz"
          tar -a -c -v -z -f "${arc_name}" ${tgt} LICENSE
      - name: Prepare artifacts (windows)
        if: runner.os == 'Windows'
        shell: pwsh
        # `tar.exe` in powershell is different from `tar` in bash.
        # need to use `tar.exe` in powershell to create a valid zip file.
        run: |-
          $tgt = "report-size-deltas.exe"
          mv "target/${{ matrix.target }}/release/${tgt}" "${tgt}"
          $arc_name = "report-size-deltas-${{ matrix.target }}.zip"
          tar -a -c -v -f "${arc_name}" ${tgt} LICENSE

      - name: Upload artifacts
        uses: actions/upload-artifact@v5
        with:
          name: report-size-deltas-${{ matrix.target }}
          path: report-size-deltas-${{ matrix.target }}*
          if-no-files-found: error

  release:
    if: startswith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    needs: [build]
    permissions:
      # needed for trusted publishing
      id-token: write
      # needed to upload release-assets
      contents: write
    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false
      - name: Install Rust
        run: rustup update stable --no-self-update

      - name: Establish provenance
        id: auth
        uses: rust-lang/crates-io-auth-action@b7e9a28eded4986ec6b1fa40eeee8f8f165559ec # v1.0.3
      - name: Publish package
        env:
          CARGO_REGISTRY_TOKEN: ${{ steps.auth.outputs.token }}
        run: cargo publish

      - name: Download built assets
        uses: actions/download-artifact@v6
        with:
          pattern: report-size-deltas-*
          path: dist
          merge-multiple: true
      - name: Upload release assets
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |-
          files=$(ls dist/report-size-deltas*)
          gh release upload "${GITHUB_REF_NAME}" ${files}
